@media only screen and (max-width: 768px) {
	.max_width {
		max-width: 600px;
	}
	.nav_mid {
		display: none;
	}
	.main {
		padding: 100px 0;
	}
	.python_web_framework {
		font-size: 24px;
	}
}

@media only screen and (max-width: 414px) {
	.max_width {
		max-width: 370px;
	}
}
